.parts-widget .list-ico {
    color: #a6a6a6 !important;
    font-size: 29px;
    padding-bottom: 12px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.default-product-badge {
    right: -25px;
    top: -15px;
    z-index: 500;
}

.default-product-badge .fa-circle {
    color: #43b0e6;
}

.default-product-badge .fa-check {
    font-size: 10px;
}

.no-products-message {
    text-align: center;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    max-height: max(0px, calc((100% - 196px) * 999));
    width: 100%;
    overflow: hidden;
}

.no-products-message .fa-coffee {
    color: #43b0e6;
}

.no-products-message p {
    font-size: 20px;
    margin-bottom: 20px;
}

.upload-part-icon .drag-area {
    padding: 20px;
}

.upload-part-icon fieldset {
    display: flex;
    flex-direction: column;
}

.upload-part-icon .table.preview {
    border: 1px solid #eee;
    min-width: 0;
}

.upload-part-icon .table.preview .table-item {
    background: none;
    cursor: auto;
}

.product-part-detail .list-ico ~ .list-container,
.product-part-detail .list-img ~ .list-container {
    display: inline-block;
    vertical-align: middle;
}

/* Order line items blade */

.border-style-none .table-col,
.border-style-none .table-head {
    border-style: none;
}

.table-header-borders thead .table-col {
    border-width: 1px;
}

.table-item-borders .table-col {
    border-width: 0 0 1px 0;
}

.table-text-centered thead .table-col,
.table-text-centered tbody .table-col {
    text-align: center;
}

.table-item .table-head {
    padding: 16px 20px 10px 20px;
}

.font-weight-500 {
    font-weight: 500;
}

.square-icon {
    color: #c4d5e8;
}

.square-icon-blue,
.chevron-icon {
    color: #43b0e6;
}

.chevron-icon-white {
    color: #fff;
}

.configuration-row {
    background-color: #fbfdfe;
}

.configuration-row .table-head,
.configuration-row .table-col {
    border-style: none;
}

.configuration-row .table-col:not(:last-child) {
    border-bottom: 1px solid #EAEDF3;
}

.configuration-row-first {
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.2);
}

.configuration-row-last {
    box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.2);
}

.configured-corner:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #abc0d3 transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.wrench-icon {
    color: #fff;
    right: 3px;
    top: 3px;
    z-index: 100;
}

.bg-none {
    background: none !important;
}
