<div class="blade-static __expanded">
    <div class="breadcrumbs">
        <a title="Back" ng-click='navigateBack()' class="back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </div>
    <div class="form-group">
        <div class="form-input">
            <input placeholder="{{ 'platform.placeholders.search-keyword' | translate }}" class="search-input" ng-model="blade.searchKeyword" />
            <button class="btn __other clear-keyword-button" type="button">
                <i class="btn-ico fa fa-times" aria-hidden="true" title="Clear" ng-click="clearKeyword()"></i>
            </button>
        </div>
        <p class="form-count">{{'demoSolutionFeaturesModule.blades.all-user-groups-list.count' | translate}} <span class="count" ng-show="blade.type === 'assigned'" ng-bind="assignedTagsFiltered.length"></span><span class="count" ng-show="blade.type === 'inherited'" ng-bind="inheritedTagsFiltered.length"></span></p>
    </div>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <table ng-show="blade.type === 'assigned'" class="table stripped-table" aria-label="Assigned user groups">
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.assignedTags | orderBy:'value' | filter: blade.searchKeyword as assignedTagsFiltered">
                            <td class="table-col checkbox">
                                <label class="form-control __checkbox">
                                    <input type="checkbox" ng-model="data.$selected">
                                    <span class="check"></span>
                                </label>
                            </td>
                            <th scope="row" class="table-col table-group-item">
                                <span class="font-weight-normal" ng-class="{'bold': data.$selected}">{{data.value}}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <table ng-show="blade.type === 'inherited'" class="table stripped-table" aria-label="Inherited user groups">
                    <tbody>
                        <tr class="table-item" ng-repeat="data in blade.inheritedTags | orderBy:'value' | filter: blade.searchKeyword as inheritedTagsFiltered">
                            <td class="table-col checkbox">
                                <i class="fa fa-building icon-blue" aria-hidden="true"></i>
                            </td>
                            <th scope="row" class="table-col table-group-item">
                                <span class="font-weight-500">{{data.value}}</span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="note" ng-if="blade.type === 'assigned' && !blade.assignedTags.length">{{ 'demoSolutionFeaturesModule.blades.user-groups-list.labels.no-assigned' | translate }}</p>
        </div>
    </div>
</div>
