<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/ok-cancel.tpl.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="formScope" class="form">
                <fieldset>
                    <legend>
                        {{ 'demoSolutionFeaturesModule.blades.customer-segment-property-values.customer-properties' | translate }} <span class="count">{{blade.setProperties.length | number:0}}</span>
                    </legend>
                    <div class="form-group list __info" ng-repeat="property in blade.setProperties | orderBy: 'displayOrder'">
                        <label class="form-label" for="">
                            {{property.name}}
                        </label>
                        <va-generic-value-input ng-model="property" languages="languages" get-dictionary-values="getDictionaryValues"></va-generic-value-input>
                        <div class="list-descr">{{property.description}}</div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
