<div class="blade-static __bottom">
    <button class="btn" ng-disabled="!canSave()">{{ 'platform.commands.create' | translate }}</button>
</div>
<div class="blade-content __normal">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.segment-name' | translate }}</label>
                        <div class="form-input">
                            <input focus-on="" ng-model="blade.currentEntity.name" required ng-maxlength="128">
                        </div>
                    </div>
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.segment-description' | translate }}</label>
                        <div class="form-input">
                            <textarea cols="30" rows="5" ng-model="blade.currentEntity.description"></textarea>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <ul class="list __items">
                        <li class="list-item">
                            <i class="list-ico fa fa-cogs"></i>
                            <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.main-parameters' | translate }}</span>
                            <span class="list-descr">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.main-parameters-description' | translate }}</span>
                        </li>
                        <li class="list-item">
                            <i class="list-ico fa fa-cogs"></i>
                            <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.segment-rule' | translate }}</span>
                            <span class="list-descr">{{ 'demoSolutionFeaturesModule.blades.customer-segments-detail.segment-rule-description' | translate }}</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
