<div class="blade-static __bottom">
    <button class="btn" ng-click="saveChanges()" ng-disabled="!canSave()">
        <span>{{ 'demoSolutionFeaturesModule.blades.customer-segment-rule-creation.confirm' | translate }}</span>
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="exportForm">
                <div class="form-group">
                    <ul class="list __items">
                        <li class="list-item" ng-click="selectProperties()" ng-class="{'__selected': blade.activeBladeId === 'propertiesSelector', '__disabled': blade.categoryCount === 0 }">
                            <i class="list-ico fa fa-cogs" aria-hidden="true"></i>
                            <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.customer-segment-rule-creation.select-properties' | translate }}</span>
                            <span class="list-descr">{{ 'demoSolutionFeaturesModule.blades.customer-segment-rule-creation.select-properties-description' | translate: {count: blade.selectedPropertiesCount, total: blade.propertiesCount} }}</span>
                        </li>
                        <li class="list-item" ng-click="editProperties()" ng-class="{'__selected': blade.activeBladeId === 'propertiesEditor', '__disabled': blade.selectedPropertiesCount === 0 }">
                            <i class="list-ico fa fa-cogs" aria-hidden="true"></i>
                            <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.customer-segment-rule-creation.set-value-to-properties' | translate }}</span>
                            <span class="list-descr">{{ 'demoSolutionFeaturesModule.blades.customer-segment-rule-creation.set-value-to-properties-description' | translate: {count: blade.customersCount} }}</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
