<div class="blade-content __normal">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form product-part-detail" name="formScope">
                <fieldset ng-init="setForm(formScope)">
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.labels.name' | translate }}</label>
                        <div class="form-input">
                            <input focus-on="" ng-model="blade.currentEntity.name" required ng-maxlength="128">
                        </div>
                    </div>
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.labels.description' | translate }}</label>
                        <div class="form-input">
                            <textarea cols="30" rows="5" ng-model="blade.currentEntity.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="column">
                            <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.labels.min-quantity' | translate }}</label>
                            <div class="form-input __number">
                                <input num-type="integer" min="0" smart-float ng-model="blade.currentEntity.minQuantity">
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.labels.max-quantity' | translate }}</label>
                                <div class="form-input __number">
                                    <input num-type="integer" min="0" smart-float ng-model="blade.currentEntity.maxQuantity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group __info list">
                        <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.labels.is-required' | translate }}</label>
                        <div class="form-input">
                            <label class="form-label __switch">
                                <input type="checkbox" ng-model="blade.currentEntity.isRequired" />
                                <span class="switch"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <ul class="list __items">
                        <li class="list-item" ng-click="openUploadPartIconBlade()" va-permission="hasAssetPermissions">
                            <i ng-if="!blade.currentEntity.imgSrc" class="list-ico fa fa-image" aria-hidden="true"></i>
                            <img ng-if="blade.currentEntity.imgSrc" class="list-img" ng-src="{{ blade.currentEntity.imgSrc }}" alt="">
                            <div class="list-container">
                                <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.icon-title' | translate }}</span>
                                <span ng-if="!blade.currentEntity.imgSrc" class="list-descr">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.icon-description' | translate }}</span>
                            </div>
                        </li>
                        <li class="list-item" ng-click="openProductList()">
                            <i class="list-ico fa fa-cogs" aria-hidden="true"></i>
                            <div class="list-container">
                                <span class="list-t">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.product-list-title' | translate }}</span>
                                <span class="list-descr">{{ 'demoSolutionFeaturesModule.blades.product-part-detail.product-list-description' | translate }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
