<div class="blade-static">
    <div class="form-group">
        <div class="form-input __search">
            <input ng-model="filter.keyword"
                   placeholder="{{'platform.placeholders.search-keyword' | translate}}"
                   ng-keyup="filter.changeKeyword($event)" />
            <button class="btn __other"
                    style="position: relative; right: 45px;">
                <i class="btn-ico fa fa-times-circle"
                   title="Clear"
                   ng-click="filter.clearKeyword()"
                   aria-hidden="true">
                </i>
            </button>
        </div>
        <p class="form-count">{{ 'platform.list.count' | translate }}: <span class="count">{{pageSettings.totalItems | number:0}}</span></p>
    </div>
</div>
<div class="blade-static __bottom" ng-if="pageSettings.itemsPerPageCount < pageSettings.totalItems" ng-include="'pagerTemplate.html'"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="table-wrapper" ng-init="setGridOptions({
             enableSorting: false,
             rowTemplate: 'product-part-row.html',
             rowHeight: 61,
             columnDefs: [{
                  name: 'imgSrc',
                  displayName: 'demoSolutionFeaturesModule.blades.product-part-list.labels.picture',
                  enableColumnResizing: false,
                  width: 60,
                  cellTemplate: 'product-part-image.html'
              }, {
                  name: 'name',
                  displayName: 'demoSolutionFeaturesModule.blades.product-part-list.labels.name',
                  cellTemplate: 'product-part-name.html'
              }, {
                  name: 'priority',
                  displayName: 'demoSolutionFeaturesModule.blades.product-part-list.labels.priority',
                  sort: {
                      direction: uiGridConstants.ASC
                  },
                  width: 75
             }]
        })">
            <div ui-grid="gridOptions"
                 ui-grid-auto-resize
                 ui-grid-save-state
                 ui-grid-selection
                 ui-grid-draggable-rows
                 ui-grid-resize-columns
                 ui-grid-move-columns
                 ui-grid-pinning
                 ui-grid-height>
            </div>
        </div>
    </div>
</div>

<script id="product-part-row.html" type="text/ng-template">
    <div grid="grid" class="ui-grid-draggable-row" draggable="{{ !grid.appScope.filter.keyword }}">
        <div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid"
             role="{{col.isRowHeader ? 'rowheader' : 'gridcell' }}"
             class="ui-grid-cell"
             ng-class="{'ui-grid-row-header-cell': col.isRowHeader, '__selected': row.entity.id===grid.appScope.selectedNodeId }"
             ng-style="{cursor: !grid.appScope.filter.keyword ? 'move' : ''}"
             ng-click="grid.appScope.select(row.entity)"
             ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
             ui-grid-cell>
        </div>
    </div>
</script>

<script id="product-part-name.html" type="text/ng-template">
    <div class="ui-grid-cell-contents">
        <div class="inner-contents">
            <div class="table-t">{{COL_FIELD}}</div>
            <div class="table-descr" ng-if="row.entity.partItems.length !== 1">{{ 'demoSolutionFeaturesModule.blades.product-part-list.part-description-plural' | translate: {count: row.entity.partItems.length} }}</div>
            <div class="table-descr" ng-if="row.entity.partItems.length === 1">{{ 'demoSolutionFeaturesModule.blades.product-part-list.part-description-single' | translate: {count: row.entity.partItems.length} }}</div>
        </div>
    </div>
</script>

<script id="product-part-image.html" type="text/ng-template">
    <div class="ui-grid-cell-contents">
        <div class="product-img">
            <img class="image" fallback-src="{{ COL_FIELD }}" ng-src="{{ COL_FIELD | thumbnail: '_64x64' }}" ng-if="COL_FIELD">
            <i class="table-ico fa fa-image" ng-if="!COL_FIELD"></i>
        </div>
    </div>
</script>
