<div class="blade-content __medium-wide upload-part-icon">
    <div class="blade-inner">
        <div class="inner-block">
            <form class="form" name="formScope">
                <fieldset>
                    <input id="selectPartIcon" class="__hide" type="file" nv-file-select uploader="uploader" />
                    <div over-class="bd-blue" nv-file-over nv-file-drop uploader="uploader" class="drag-area">
                        <span class="drag-content">
                            <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                            <br>
                            <small>{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.drag-and-drop.placeholder' | translate }}</small>
                            <br>
                            <small>{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.drag-and-drop.or' | translate }}</small>
                            <a ng-click="browse()">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.drag-and-drop.link' | translate }}</a>
                        </span>
                    </div>

                    <div class="form-group">
                        <div class="sub-t">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.image-url.title' | translate }}</div>

                        <div class="form-input __file form-group">
                            <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.image-url.label' | translate }}</label>
                            <input ng-model="blade.imageUrl" type="url" placeholder="{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.image-url.placeholder' | translate }}" tabindex="-1">
                        </div>

                        <div class="columns">
                            <div class="column">
                                <div class="form-group">
                                    <label class="form-label">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.image-url.labels.download' | translate }}</label>
                                    <div class="form-input">
                                        <label class="form-label __switch">
                                            <input type="checkbox" ng-model="blade.downloadImage">
                                            <span class="switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="form-group __right">
                                    <a class="btn" ng-click="addImageFromUrl()">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.image-url.labels.add' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="uploader.isUploading">
                        <div class="sub-t">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.labels.progress' | translate }}</div>
                        <div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}"></div>
                    </div>

                    <div class="form-group">
                        <div ng-if-start="blade.currentEntity.imgSrc" class="sub-t">{{ 'demoSolutionFeaturesModule.blades.upload-part-icon.preview.title' | translate }}</div>
                        <table ng-if-end class="table preview" aria-hidden="true">
                            <tbody>
                                <tr class="table-item">
                                    <td class="table-col __product-img">
                                        <img ng-src="{{blade.currentEntity.imgSrc ? blade.currentEntity.imgSrc : ''}}" alt="">
                                    </td>
                                    <td class="table-col">
                                        <div class="table-t">{{ blade.currentEntity.name ? blade.currentEntity.name : ('demoSolutionFeaturesModule.blades.upload-part-icon.preview.image.title' | translate) }}</div>
                                        <div class="table-descr">
                                            <span ng-if="blade.currentEntity.partItems && blade.currentEntity.partItems.length === 1">
                                                {{ 'demoSolutionFeaturesModule.blades.upload-part-icon.preview.image.description-single' }}
                                            </span>
                                            <span ng-if="!blade.currentEntity.partItems || blade.currentEntity.partItems.length !== 1">
                                                {{ 'demoSolutionFeaturesModule.blades.upload-part-icon.preview.image.description-plural' | translate: { count: blade.currentEntity.partItems ? blade.currentEntity.partItems.length : 0 } }}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
