<div class="gridster-cnt" ng-click="openBlade()">
    <div class="list-count" ng-if="loading">...</div>
    <ul class="list __stats" ng-if="!loading">
        <li class="list-item user-group-widget-item"><span>{{'demoSolutionFeaturesModule.widgets.customer-user-groups.title' | translate}}</span></li>
        <li class="list-item w-50">{{'demoSolutionFeaturesModule.widgets.customer-user-groups.assigned' | translate}} <span class="list-price font-size-14">{{assignedGroupsCount}}</span></li>
        <li class="list-item w-50">{{'demoSolutionFeaturesModule.widgets.customer-user-groups.inherited' | translate}} <span class="list-price font-size-14">{{inheritedGroupsCount}}</span></li>
    </ul>
</div>
